<html>
    <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <title>MTA Subway Charts</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">MTA Station Database</a>
    </div>
  </div>
</nav>
<h1><center>Results</center></h1>
<h3><center>{{month}} {{year}} fares for {{station}}</center></h3>
<br>
<div class="container">
<center>
<td><img src="static/station.png" height="600", width="600"></td>
<td><img src="static/station1.png" height="600", width="600"></td>
</center>
</div>
</body><!-- HTML and Boostrap from Flask tutorial http://blog.pythonanywhere.com/121/  -->
</html>

